body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
	--bg-color: #fff;
	/*--heading-color: #000;*/
  --heading-color: white;
}
.main_heading{
	color: var(--heading-color)
}
/*[data-theme="dark"] {
  --bg-color: black;
	--heading-color: #fff;
}
[data-theme="blue"] {
  --bg-color: blue;
  --heading-color: #fff;
}
[data-theme="red"] {
  --bg-color: red;
  --heading-color: #fff;
}
[data-theme="yellow"] {
  --bg-color: yellow;
  --heading-color: #fff;
}
[data-theme="green"] {
  --bg-color: green;
  --heading-color: #fff;
}*/


html {
  background-color: var(--bg-color);
  color: var(--heading-color);
}
