select {
  position: relative;
  background: var(--bg-color);
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--heading-color);
  border-bottom: 2px solid black;
  padding-bottom: 8px;
  min-width: 150px;
  text-align: left;
  outline: none;
  cursor: pointer;
  z-index: 2;
  display: inline-block;
}


[data-theme="dark"] {
	--bg-color: #1b262c;
	--heading-color: #fff;
}

[data-theme ="darkGrey"]{
  --bg-color: #222831;
	--heading-color: #fff;
}

[data-theme ="darkBlue"]{
  --bg-color: #17223B;
	--heading-color: #fff;
}

:root {
	--bg-color: #fff;
	--heading-color: #000;
}